<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      EAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="ion-text-center">
    <ion-label>Quanto preciso para aprovar?</ion-label>
    <ion-item>
      <ion-label position="floating">G1V</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="g1v_preciso"
        name="g1v_preciso"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">G2V</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="g2v_preciso"
        name="g2v_preciso"
      ></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      style="width: 100%"
      color="primary"
      (click)="precisoG2P()"
      >CALCULAR G2P</ion-button
    >
  </form>

  <div class="ion-padding"></div>

  <form class="ion-text-center">
    <ion-label>Será que aprovei?</ion-label>
    <ion-item>
      <ion-label position="floating">G1V</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="g1v_passei"
        name="g1v_passei"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">G2V</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="g2v_passei"
        name="g2v_passei"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">G2P</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="g2p_passei"
        name="g2p_passei"
      ></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      style="width: 100%"
      color="primary"
      (click)="passeiDisciplina()"
      >CALCULAR MÉDIA</ion-button
    >
  </form>
</ion-content>
